body{
  background-color: #ffffff;
  overflow-x:hidden;
}
.logo{
  position: relative;
  left:-20px;
  top:2.5px;
}
.navigation {
  height: 55px;
  background: #fefefe;
  position: fixed;
  width: 100%;
  z-index: 8;
  top:0;
  left:0;
  box-shadow:0px 1px 2px -1px rgba(0,0,0,.75);
}
.brand {
  position: fixed;
  padding-left:5px;
  float: left;
  line-height:40px;
  font-size: 1.3em;
  text-decoration: none;
  margin-top:0.1%;
}
.brand a, .brand a:hover {
  color: #8E44AD;
  text-decoration: none;
  font-size:2.8em;
  font-weight:200;
  font-family:'Lato';
  letter-spacing:-4px;
  text-decoration: none;
}
.nav-container {
  width:80%;
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a, nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover, nav ul li a:visited:hover {
  background: #2581dc;
  color: #fff;
}
nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.heading{
  position: relative;
  top:33px;
  font-size:2.8em;
  text-align: center;
}
.background{
  background-position: center center;
    display: block;
    width:98vw;
    height: 350px;
    /* height: 100vh; *//* If you want fullscreen */
    position: relative;
    top: -10px;
    background-size: cover;
    background-repeat: no-repeat;
}
input[type=text]
{
    width:577px;
    height:40px;
    position: relative;
    top:-13px;
    left:-48%;
    border:1px solid #aaa;
    background-color:#ffffff;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #7D7878;
    z-index:2;
    padding:2%;
    border-radius:6px;
}
input[type=text]:focus{
    outline:none;
    
}
.fa-search{
  position: relative;
  z-index: 2;
  position: relative;
  left:-42%;
  top:-10px;
}
input::placeholder {
  text-align: center;
}
.follow{
  position: relative;
  float:right;
  left:-10%;
  width:80px;
  height: 33px;
  top:-35px;
  background:transparent;
  border:1px solid #ccc;
  border-radius:14px;
  font-size:15px;
  font-weight: bold;
  outline: none;
  z-index: 10;
  box-shadow: 1px 1px 1px #bbb;
}
.article{
  position: relative;
  left:40%;
  top:2%;
  width:100px;
  height:40px;
  cursor:pointer;
  z-index: 10;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline: none;
  font-weight: bold;
}
 .article:active, 
 .article:focus 
 {
     border-bottom:2px solid #00c; /* here configure as your needs */
  }
.stories{
  position: relative;
  left:40%;
  top:2%;
  font-weight: bold;
  width:150px;
  height:40px;
  cursor:pointer;
  z-index: 10;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline: none;
}
.stories:active, 
 .stories:focus 
 {
     border-bottom:2px solid #00c; /* here configure as your needs */
  }
.fa{
    font-size:2em;
    margin-left:-13%;
    margin-top:4%;
}
.fa-rocket{
  position: relative;
  left:70%;
  top:-75px;
  color:#2b0505;
}
.rocket_text{
  position: relative;
  font-size:12px;
  left:-8%;
  top:-11px;
  font-weight: bold;
}
.bookmark_text{
  position: relative;
  font-size:12px;
  left:-20%;
  top:-11px;
  font-weight: bold;
}
.bell_text{
  position: relative;
  font-size:12px;
  left:-8%;
  top:-11px;
  font-weight: bold;
}
.fa-bookmark{
  position: relative;
  left:90%;
  top:-75px;
  color:#2b0505;
}
.fa-bell{
  position: relative;
  left:108%;
  top:-75px;
  color:#2b0505;
}
.fa-angle-down{
  position: relative;
  top:-25px;
  left:14%;
}
.imagess{
  position: relative;
  top:-15px;
}
#but{
    margin-left:80%;
    width:150px;
    margin-top:-10%;
    height:35px;
}
#but:focus{
outline: none;
}
#book{
    position: relative;
    right:-35%;
}
.new{
    float:right;
    font-size:0.7em;
    margin-top: 1.2%;
}
.use{
    border-radius: 50%;
    margin-left:-45%;
    padding-right:1px;
    letter-spacing: 5px;
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;

}
.top{
    position: relative;
    top:-28px;
    left:105%;
}
.slider, 
.slider > div {
    /* Images default to Center Center. Maybe try 'center top'? */
    background-position: center center;
    display: block;
    width: 1280px;
    height: 500px;
    /* height: 100vh; *//* If you want fullscreen */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    overflow: hidden;
    -moz-transition: transform .4s;
    -o-transition: transform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
    position:relative;
    top:12%;
}

.slider > div {
    position: absolute;
}

.slider > i {
    color: #5bbd72;
    position: absolute;
    font-size: 60px;
    margin: 20px;
    top: 40%;
    text-shadow: 0 10px 2px #223422;
    transition: .3s;
    width: 30px;
    padding: 10px 13px;
    background: #fff;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    line-height: 0;
    box-sizing: content-box;
    border-radius: 3px;
    z-index: 4;
}

.slider > i svg {
    margin-top: 3px;
}

.slider > .left {
    left: -100px;
}
.slider > .right {
    right: -100px;
}
.slider:hover > .left {
    left: 0;
}
.slider:hover > .right {
    right: 0;
}

.slider > i:hover {
    background:#fff;
    background: rgba(255, 255, 255, .8);
    transform: translateX(-2px);
}

.slider > i.right:hover {
    transform: translateX(2px);
}

.slider > i.right:active,
.slider > i.left:active {
    transform: translateY(1px);
}

.slider:hover > div {
    transform: scale(1.01);
}

.hoverZoomOff:hover > div {
    transform: scale(1);
}

.slider > ul {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 4;
    padding: 0;
    margin: 0;
    transform: translateX(-50%);
}

.slider > ul > li {
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    list-style: none;
    float: left;
    margin: 10px 10px 0;
    cursor: pointer;
    border: 1px solid #fff;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider > ul > .showli {
    background-color: #7EC03D;
    -moz-animation: boing .5s forwards;
    -o-animation: boing .5s forwards;
    -webkit-animation: boing .5s forwards;
    animation: boing .5s forwards;
}

.slider > ul > li:hover {
    background-color: #7EC03D;
}

.slider > .show {
    z-index: 1;
}

.hideDots > ul {
    display: none;
}

.showArrows > .left {
    left: 0;
}

.showArrows > .right {
    right: 0;
}

.slider:hover .titleBar,
.slider:hover .titleBar * {
    transform: translate(0);
    opacity: 1;
}


.slider > div span {
    display: block;
    background: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    padding: 0;
    width: 100%;
}


@keyframes boing {
    0% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(.6);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 55px;
    left: 0;
    float:left;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0px 1.5px 1.5px 2px #ccc;
}

.sidenav .tag {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    display: block;
    transition: 0.3s;
    border:1px solid #eee; 
}
.sidenav a{
  color:#333;
  font-family: 'Ubuntu';
  

}

.sidenav a:hover {
    color: #222;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.open{
  position: fixed;
  top:14px;
  z-index: 8;
  margin-left:55px;
  
}
.header-left, .header-right {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}
.header-right {
  position: relative;
  justify-content: flex-end;
}
.avatar-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.avatar-wrapper .avatar-dropdown-arrow {
  transition: opacity 0.1s linear, transform 0.15s linear;
  position: relative;
  left:255px;
  top:-265px;
}
.avatar-wrapper .avatar-dropdown-arrow.active {
  transform: rotate(180deg);
}
.avatar-wrapper:hover .avatar-dropdown-arrow {
  opacity: 0.2;
}
.avatar-photo {
  border-radius: 4px;
  position: relative;
  height: 38px;
  width: 38px;
  left:255px;
  top:-265px;
  border-radius: 50%;
}
.dropdown-wrapper {
  position:relative;
  left:100px;
  transform: scale(0.8);
  transform-origin: right;
  z-index: 4;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(50, 50, 93, .08), 0 2px 4px 0 rgba(50, 50, 93, .05), 0 4px 8px 0 rgba(136, 152, 170, .08);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
  visibility: hidden;
}
.dropdown-wrapper.active {
  position: relative;
  top:-95px;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.dropdown-profile-details {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eaeaea;
}
.dropdown-profile-details--name {
  font-size: 1.75rem;
  margin-bottom: 0;
  font-weight: 600;
}
.dropdown-profile-details--email {
  font-size: 1.2rem;
  color: #6f6f6f;
}
.dropdown-links {
  display: flex;
  flex-direction: column;
  top:0;
}
.dropdown-links a {
  color: #525f7f;
  text-decoration: none;
  padding-bottom: 1rem;
  transition: all 0.1s linear;
}
.dropdown-links a:hover {
  color: #ebeff5;
}
.dropdown-links a:last-of-type {
  padding-bottom: 0;
}
.containerr { margin:150px auto;}
#mixedSlider {
  position: relative;
}
#mixedSlider .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 5%;
}
#mixedSlider .MS-content .item {
  display: inline-block;
  width:23.2%;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  padding: 0 10px;
}
@media (max-width: 991px) {
  #mixedSlider .MS-content .item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  #mixedSlider .MS-content .item {
    width: 100%;
  }
}
.containerr{
  position: relative;
  top:-160px;
}
.blogTitle {
  position: relative;
  top:170px;

}
h2{
  font-size:0.7em;
  font-family: 'Lato';
}
.line{
  position: relative;
  top:235px;
  width:240px;
}
.linee{
  width:87vw;
  position:relative;
  top:-30px;
  left:35px;">
}
.containerr{
  position: relative;
  height:280px;
  top:-170px;
}
#mixedSlider{
  height: 150px;
  position: relative;
  top:-35px;
}
#mixedSlider .MS-content .item .imgTitle {
  position: relative;
}
#mixedSlider .MS-content .item .imgTitle .blogTitle {
  margin: 0;
  text-align: left;
  letter-spacing: 2px;
  color: #252525;
  /*font-family: 'Ubuntu';*/
  position: absolute;

  height:95px;
  background-color: rgba(255, 255, 255, 0.5);
  width:auto;
  box-shadow: 1px 1px 5px #757171;
  bottom: -4.5%;
  border-bottom-left-radius:14px;
  border-bottom-right-radius:14px;
  padding: 7px 10px 2px 10px;
}
#mixedSlider .MS-content .item .imgTitle img {
  height:145px;
  width: 100%;
}
#mixedSlider .MS-content .item p {
  font-size: 12px;
  margin: 2px 10px 0 5px;
  text-indent:5px;
  font-weight: bold;

}
#mixedSlider .MS-content .item a {
  float: right;
  margin: 0 20px 0 0;
  font-size: 16px;
  font-family: 'Ubuntu';
  color: rgba(173, 0, 0, 0.82);
  font-weight: bold;
  letter-spacing: 1px;
  transition: linear 0.1s;
}
#mixedSlider .MS-content .item a:hover {
  text-shadow: 0 0 1px grey;
}
#mixedSlider .MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 50px;
  top: 95px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.15s linear;
}
#mixedSlider .MS-controls button:hover {
  color: rgba(0, 0, 0, 0.8);
}


.texx{
  font-size:10px;
  position: relative;
  /*font-family: 'Ubuntu';*/
  top:235px;
  left:15%;
  
}
.fa-bookmark-o{
  position: relative;
  left:98%;
  top:-60px;
  height:60px;
}
#vertical{
  position: relative;
  top: -105px;
}
.fa-ellipsis-v{
  position: relative;
  top:-60px;
  float:right;
  left:-15px;
}

.texxx{
  width:240px;
  height:97px;
  background:#FFF;
  position: relative;
  top:-120px;
  left:3%;
  opacity: 0;
}
/*.imgTitle:hover .texxx
{
  position: relative;
  top:-190px;
  height:124px;
  width: auto;
  opacity:0.6;
  text-align:justify;
  color:#000000;
  font-size:20px;
  font-weight:700;
  font-family:"Times New Roman", Times, serif;
  padding:30px;
}*/

.img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
 left:10px;
  top:-125px;
}
.image{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 1px 1px 5px #757171;
}
.progress {
overflow: hidden;
height: 4px;
width:200px;
background-color: #f7f7f7;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);

-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
position: relative;
top:-122px;
}

.progress .bar {
width: 50%;
height: 4px;
  
  
background-color: #F0530A;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  
-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
  
-webkit-transition: width 0.6s ease;
-moz-transition: width 0.6s ease;
-ms-transition: width 0.6s ease;
-o-transition: width 0.6s ease;
transition: width 0.6s ease;
}

.p_id{
  position: relative;
  left:5%;
  font-size: 1.6em;
  top:-20px;
  font-weight: bold;
  font-family: 'Lato';
}
.see_more{
  position: relative;
  float:right;
  top:-80px;
  left:-65px;
  background-color: #fff;
  box-shadow: 1px 1px 3px #757171;
  height:35px;
  font-family: 'Ubuntu';
  font-weight: bold;
}
.see_more:focus{
  outline: none;
}

@media (max-width: 992px) {
  #mixedSlider .MS-controls button {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  #mixedSlider .MS-controls button {
    font-size: 20px;
  }
}
#mixedSlider .MS-controls .MS-left {
  left: 27px;
}

@media (max-width: 767px) {
  #mixedSlider .MS-controls .MS-left {
    left: -10px;
  }
}
#mixedSlider .MS-controls .MS-right {
  right: 10px;
}
@media (max-width: 767px) {
  #mixedSlider .MS-controls .MS-right {
    right: -10px;
  }
}



