.head{
	height:60px;
	background-color: #eee;
	margin-top:-6px;
}
.icon1 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    position:relative;
    margin-left:6%;
    margin-top:-3%;
    
}
.icon2 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    position:relative;
    margin-left:6%;
}
.icon3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    position:relative;
    margin-left:6%;
}
input[type=text]
{
	width:40%;
	height:42px;
	margin-left:20%;
	margin-top:0.8%;
	border:1px solid #ccc;
	border-radius:5px;
	padding: 2px 2px 2px 15px;
	box-shadow: 2px 2px 3px #ccc;
}
.fa-search{
	margin-left:-3%;
	color:#ddd;
}
.btn-info{
	width:7%;
	margin-left:6%;
	height:45px;
	margin-top:-0.2%;
}
.fa-external-link{
	margin-left:-2%;
	color:#ddd;
}
.btn-success{
	width:7%;
	margin-left:22%;
	height:45px;
	margin-top:-0.2%;
}
.btn-warning{
	width:7%;
	margin-left:%;
	height:45px;
	margin-top:-0.2%;
}
.fa-arrow-left{
    color:black;
    margin-top:120%;
    margin-left:-150%;
}
.fa-arrow-right{
    color:black;
    margin-top:120%;
}
.top{
    background-color:#eee;
    margin-top:-1%
}
.container{
    margin-top:2%;
    height:195px;
}
.blog-head{
    font-size:1.8em;
    font-weight:bold;
    width:200px;
    border:1px solid #eee;
    margin-left:8%; 
    text-align:center;
    background-color:#eee;
    margin-top:5%;
}
.card {
  position: absolute;
  margin-top:70%;
  margin-left:50%;
  width: 376px;
  transform: translateX(-50%) translateY(-50%);
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}
.card:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
.card a {
  color: inherit;
  text-decoration: none;
}
.card__date {
  background: #08c;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 13px;
  font-weight: bold;
  padding-top: 10px;
}
.card__date__day {
  display: block;
  font-size: 14px;
}
.card__date__month {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}
.card__thumb {
  height: 235px;
  overflow: hidden;
  background-color: #000;
  transition: height 0.3s;
}
.card__thumb img {
  display: block;
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
  transform: scale(1);
}
.card:hover .card__thumb img {
  opacity: 0.6;
  transform: scale(1.2);
}
.card:hover .card__thumb {
  height: 90px;
}
.card__body {
  position: relative;
  padding: 20px;
  height: 185px;
  transition: height 0.3s;
}
.card:hover .card__body {
  height: 330px;
}
.card__category {
  position: absolute;
  top: -25px;
  left: 0;
  height: 25px;
  padding: 0 15px;
  background: #08c;
  color: #fff;
  font-size: 11px;
  line-height: 25px;
}
.card__category a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.card__title {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 22px;
  color: #000;
  font-weight: bold;
}
.card:hover .card__title {
  animation: titleBlur 0.3s;
}
.card__subtitle {
  margin: 0;
  padding: 0 0 10px 0;
  color: #08c;
  font-size: 19px;
}
.card:hover .card__subtitle {
  animation: subtitleBlur 0.3s;
}
.card__description {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 65px;
  margin: 0;
  padding: 0;
  color: #666c74;
  font-size: 14px;
  line-height: 27px;
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
  transition-delay: 0s;
  transform: translateY(25px);
}
.card:hover .card__description {
  opacity: 1;
  transition-delay: 0.1s;
  transform: translateY(0);
}
.card__footer {
  position: absolute;
  color: #a3a9ab;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-size: 11px;
}
.card__footer .icon--comment {
  margin-left: 10px;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}
.icon:before {
  display: inline-block;
  text-align: center;
  height: 14px;
  width: 14px;
  margin-top: -2px;
  margin-right: 6px;
}
.icon--comment:before {
  content: "\f0e6 ";
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.icon--time:before {
  content: "\f017 ";
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
@keyframes titleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0);
  }
}
@keyframes subtitleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(0, 136, 204, 0.6);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px rgba(0, 136, 204, 0);
  }
}

@media only screen and (max-width: 500px) {
    .icon1 {
       width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    position:relative;
    margin-left:6%;
    margin-top:-12%;
    }
    .btn-success{
    width:54px;
    margin-left:2%;
    height:45px;
    margin-top:3%;
    font-size:0.5em;
}
.btn-warning{
    width:65px;
    margin-left:%;
    height:45px;
    margin-top:3%;
    font-size:0.2em;
}
  .fa-search{
   font-size:0.2em;
   margin-left:-8%;
   margin-top:0.8%;
} 
.top{
    margin-top:4%;
}
.container{
    margin-top:5%;
    height:200px;
}
}
@media only screen and (max-width: 320px) {
    .icon1 {
       width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    position:relative;
    margin-left:6%;
    margin-top:-12%;
    }
   
	input[type=text]
	{
		width:20%;
		height:42px;
		margin-left:20%;
		margin-top:3%;
		border:1px solid #ccc;
		border-radius:5px;
		padding: 2px 2px 2px 15px;
		box-shadow: 2px 2px 3px #ccc;
	}
	.btn-success{
    width:55px;
    margin-left:12%;
    height:45px;
    margin-top:%;
}
.btn-warning{
    width:62px;
    margin-left:%;
    height:45px;
    margin-top:%;
}
.container{
    margin-top:5%;
    height:150px;
}
}
@media (min-width: 1200px){
.container {
    margin-top: 2%;
    width: 1100px;
}
}

/*@media only screen and (max-width: 768px) {
    .icon1 {
       width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    position:relative;
    margin-left:6%;
    margin-top:-5%;
    }
   
}

*/
