body{
  background-color: #eee;
  overflow-x:hidden;
}
.navigation {
  height: 55px;
  background: #fefefe;
  position: fixed;
  width: 100%;
  z-index: 4;
  top:0;
  left:0;
  box-shadow:0px 1px 2px -1px rgba(0,0,0,.75);
}
.brand {
  position: fixed;
  padding-left:5px;
  float: left;
  line-height:40px;
  font-size: 1.3em;
  text-decoration: none;
  margin-top:0.1%;
}
.brand a, .brand a:hover {
  color: #8E44AD;
  text-decoration: none;
  font-size:2.8em;
  font-weight:200;
  font-family:'Lato';
  letter-spacing:-4px;
  text-decoration: none;
}
.nav-container {
  width:80%;
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a, nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover, nav ul li a:visited:hover {
  background: #2581dc;
  color: #fff;
}
nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
input[type=text]
{
    width:200px;
    margin-left:-270%;
    margin-top:5px;
    height:40px;
    border-radius:24px;
    border:1px solid #eee;
    background-color:#ddd;
    padding:5%;
    box-sizing: border-box;
    z-index:2;
}
input[type=text]:focus{
    outline:none;
    width:400px;
    margin-left:-100%;
}
.publish{
  border:2px solid #eee;
  width:160px;
  height:30px;
  position:relative;
  left:80%;
  top:10px;
  padding-top:2px;
  border-radius:24px;
  background-color:#8E44AD;
  color:#fefefe;
}
.fa{
    font-size:2em;
    margin-left:-13%;
    margin-top:4%;
}
#but{
    margin-left:80%;
    width:150px;
    margin-top:-10%;
    height:35px;
}
#but:focus{
outline: none;
}
#book{
    position: relative;
    right:-35%;
}
.new{
    float:right;
    font-size:0.7em;
    margin-top: 1.2%;
}
.use{
    border-radius: 50%;
    margin-left:-45%;
    padding-right:1px;
    letter-spacing: 5px;
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}
.top{
    position: relative;
    margin-top:-1.6%;
    left:100%;
    font-weight:550;
}
.slider, 
.slider > div {
    /* Images default to Center Center. Maybe try 'center top'? */
    display: block;
    width: 1200px;
    height: 500px;
    position:relative;
    margin-left:15px;
    /* height: 100vh; *//* If you want fullscreen */
    position: relative;
    top:15%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #eee;
    overflow: hidden;
    -moz-transition: transform .4s;
    -o-transition: transform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
}

.slider > div {
    position: absolute;
}

.slider > i {
    color: #5bbd72;
    position: absolute;
    font-size: 60px;
    margin: 20px;
    top: 40%;
    text-shadow: 0 10px 2px #223422;
    transition: .3s;
    width: 30px;
    padding: 10px 13px;
    background: #fff;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    line-height: 0;
    box-sizing: content-box;
    border-radius: 3px;
    z-index:-1;
}

.slider > i svg {
    margin-top: 3px;
}

.slider > .left {
    left: -100px;
}
.slider > .right {
    right: -100px;
}
.slider:hover > .left {
    left: 0;
}
.slider:hover > .right {
    right: 0;
}

.slider > i:hover {
    background:#fff;
    background: rgba(255, 255, 255, .8);
    transform: translateX(-2px);
}

.slider > i.right:hover {
    transform: translateX(2px);
}

.slider > i.right:active,
.slider > i.left:active {
    transform: translateY(1px);
}

.slider:hover > div {
    transform: scale(1.01);
}

.hoverZoomOff:hover > div {
    transform: scale(1);
}

.slider > ul {
    position: absolute;
    bottom: 10px;
    left:45%;
    z-index: 2;
    padding: 0;
    margin: 0;
    transform: translateX(-50%);
}

.slider > ul > li {
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    list-style: none;
    float: left;
    margin: 10px 10px 0;
    cursor: pointer;
    border: 1px solid #fff;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider > ul > .showli {
    background-color: #7EC03D;
    -moz-animation: boing .5s forwards;
    -o-animation: boing .5s forwards;
    -webkit-animation: boing .5s forwards;
    animation: boing .5s forwards;
}

.slider > ul > li:hover {
    background-color: #7EC03D;
}

.slider > .show {
    z-index: 1;
}

.hideDots > ul {
    display: none;
}

.showArrows > .left {
    left: 0;
}

.showArrows > .right {
    right: 0;
}
.slider > div span {
    display: block;
    background: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    padding: 0;
    width: 100%;
}
@keyframes boing {
    0% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(.6);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}
.para{
    margin-left:5.4%;
    font-size:1.4em;
    font-family: 'Ubuntu';
}
.text{
    position: relative;
    left:15%;
    border:1px solid #eee;
    background-color:#ddd;
    width:180px;
    height:32px;
    padding-left:2%;
    border-radius:18px;
    font-weight:100;
    font-size:1em;
    font-family:'Ubuntu';
}
.para1{
    position: relative;
    left:5.1%;
   font-size:1.8em;
   font-family: 'Ubuntu';
}
.text1{
    margin-top:-3.2%;
    margin-left:15%;
    border:1px solid #eee;
    background-color:#ddd;
    width:150px;
    height:30px;
    padding-left:2%;
    padding-top:0.2%;
    padding-bottom: 1%;
    border-radius:18px;
    font-weight:400;
    font-size:1.2em;
}
.text2{
    position: relative;
    top:2px;
    margin-top:-40px;
    margin-left:33%;
    border:1px solid #eee;
    background-color:#ddd;
    width:260px;
    height:30px;
    padding-left:2%;
    border-radius:18px;
    font-weight:500;
    font-size:1.2em;
}
.fa-plus{
    position: relative;
    margin-left: 10%;
    font-size:1.3em;
    font-weight:bold;
}
.fa-angle-down{
    position: relative;
    margin-left: 10%;
    font-size:1.3em;
    font-weight:bold;
}
.fa-pencil{
    position: relative;
    margin-left: 10%;
    font-size:1.2em;
}
.more{
    float:right;
    position: relative;
    right:3.5%;
    top:-30px; 
    font-size:1.6em;
    font-family: 'Ubuntu';
}
#more{
    float:right;
    position: relative;
    right:3.5%;
    top:-100px;
    font-size:1.6em;
    font-family: 'Ubuntu';
}
.fa-angle-right{
    position: relative;
    margin: 2px 10px auto;

    
}
.btn-warning{
    width:300px;
    margin-top:-18%;
    height:50px;

}
#over{
    margin-top:0%;
    margin-left:-1%;
}

header h1 {
  text-align: center;
}

@media screen and (min-width: 480px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  .cell {
    width: calc((100% / 2) - 2rem);
  }
  .slider, 
.slider > div {
    /* Images default to Center Center. Maybe try 'center top'? */
    display: block;
    width: 1200px;
    height: 500px;
    position:relative;
    margin-left:50px;
    /* height: 100vh; *//* If you want fullscreen */
    position: relative;
    top:15%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #eee;
    overflow: hidden;
    -moz-transition: transform .4s;
    -o-transition: transform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
}
}
@media screen and (min-width: 670px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: calc((100% / 3) - 2rem);
  }
  .slider, 
.slider > div {
    /* Images default to Center Center. Maybe try 'center top'? */
    display: block;
    width: 1200px;
    height: 500px;
    position:relative;
    margin-left:10px;
    /* height: 100vh; *//* If you want fullscreen */
    position: relative;
    top:15%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #eee;
    overflow: hidden;
    -moz-transition: transform .4s;
    -o-transition: transform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
}
}
h4{
    margin-left:5%;
}
.fa-user-o{
    margin-left:-50%;
    letter-spacing: 15px;
}

.container {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
}
.dropdown {
  display:inline-block;
  font-family:arial;
  position:relative;
  margin:15px;
  font-size:16px;
}
.dropdown-button {
  background:#ccc;
  min-width:160px;
  color:#333;
  letter-spacing:0.025rem;
  box-sizing:border-box;
  padding:10px 30px 10px 20px;
  border-radius:24px;
  position:relative;
  cursor:pointer;
  transition:background .3s ease;
  top:40px;
  left:210px;
  border:1px solid #333;
}
.dropdown-button:hover {
  background:#eee;
  transition:background .3s ease;
}
.triangle {
  font-size:70%;
  position:absolute;
  right:18px;
  top:53px;
  bottom:0;
  left:340px;
  height:5px;
  color:#333;
}
.dropdown ul.active {
  visibility:visible;
  transition:all .3s ease;
  transform:scaleY(1);
  color:#333;
  top:35px;
  left:220px;

}
.dropdown ul {
  visibility:hidden;
  overflow:hidden;
  color:#fff;
  transform-origin:top;
  padding:0;
  list-style:none;
  transform:scaleY(0);
  box-shadow:0px 2px 6px 0 rgba(0,0,0,0.2);
  position:absolute;
  left:0;
  margin-top:2px;
  top:30px;
  min-width:90%;
  transition:all .3s ease;
}
.dropdown li {
  background:#fff;
  padding:8px 10px 8px 15px;
  box-sizing:border-box;
  cursor:pointer;
  font-weight: bold;
  transition:background .2s ease;
  position:relative;
}
.dropdown li.check {
  background:#f6f6f6;
}
.dropdown li.check:after {
  content:'';
  position:absolute;
  height:15px;
  width:3px;
  background:#ccc;
  top:50px;
  bottom:0;
  margin-top:auto;
  transform:rotate(40deg);
  margin-bottom:auto;
  right:15px;
}
.dropdown li.check:before {
  content:'';
  position:absolute;
  height:3px;
  width:9px;
  background:#ccc;
  top:0;
  bottom:0;
  margin-top:auto;
  transform:rotate(40deg);
  margin-bottom:auto;
  right:19px;
}
.dropdown li:hover {
  background:#f6f6f6;
  transition:background .2s ease;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 55px;
    left: 0;
    float:left;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0px 1.5px 1.5px 2px #ccc;
}

.sidenav .tag {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    display: block;
    transition: 0.3s;
    border:1px solid #eee; 
}
.sidenav a{
  color:#333;
  font-family: 'Ubuntu';
  

}

.sidenav a:hover {
    color: #222;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.open{
  position: fixed;
  top:10px;
  z-index: 8;
  margin-left:55px;
  
}
#arrow-right{
  position: relative;
  float:right;
  top:-100px;
  left:-25px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }
  .btn-info{
    width:100px;
    margin-left:-5%;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}

#arrow{
  top:120px;
  font-size:5em;
}


@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #333;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color:#333;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

/* mobile first */

.containerr { margin:150px auto;}
#mixedSlider {
  position: relative;
}
#mixedSlider .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 5%;
}
#mixedSlider .MS-content .item {
  display: inline-block;
  width: 33.3333%;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  padding: 0 10px;
}
@media (max-width: 991px) {
  #mixedSlider .MS-content .item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  #mixedSlider .MS-content .item {
    width: 100%;
  }
}
.blogTitle {
  position: relative;
  top:260px;
}
#mixedSlider .MS-content .item .imgTitle {
  position: relative;
}
#mixedSlider .MS-content .item .imgTitle .blogTitle {
  margin: 0;
  text-align: left;
  letter-spacing: 2px;
  color: #252525;
  font-family: 'Ubuntu';
  position: absolute;

  height:65px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  bottom: -5%;
  font-weight: bold;
  padding: 7px 10px 2px 10px;
}
#mixedSlider .MS-content .item .imgTitle img {
  height: auto;
  width: 100%;
}
#mixedSlider .MS-content .item p {
  font-size: 16px;
  margin: 2px 10px 0 5px;
  text-indent: 15px;
}
#mixedSlider .MS-content .item a {
  float: right;
  margin: 0 20px 0 0;
  font-size: 16px;
  font-family: 'Ubuntu';
  color: rgba(173, 0, 0, 0.82);
  font-weight: bold;
  letter-spacing: 1px;
  transition: linear 0.1s;
}
#mixedSlider .MS-content .item a:hover {
  text-shadow: 0 0 1px grey;
}
#mixedSlider .MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 50px;
  top: 95px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.15s linear;
}
#mixedSlider .MS-controls button:hover {
  color: rgba(0, 0, 0, 0.8);
}
.texx{
  position: relative;
  font-family: 'Ubuntu';
  top:295px;
  left:-2%;
}
#icon{
  position: relative;
  left:90%;
  top:-167px;
}
.texxx{
position: relative;
top:-200px;
}
.img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
 left:330px;
  top:-192px;
}


.progress {
overflow: hidden;
height: 4px;
width:200px;
background-color: #f7f7f7;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);

-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
position: relative;
top:-170px;
}

.progress .bar {
width: 50%;
height: 4px;
  
  
background-color: #F0530A;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  
-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
  
-webkit-transition: width 0.6s ease;
-moz-transition: width 0.6s ease;
-ms-transition: width 0.6s ease;
-o-transition: width 0.6s ease;
transition: width 0.6s ease;
}



@media (max-width: 992px) {
  #mixedSlider .MS-controls button {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  #mixedSlider .MS-controls button {
    font-size: 20px;
  }
}
#mixedSlider .MS-controls .MS-left {
  left: 0px;
}
@media (max-width: 767px) {
  #mixedSlider .MS-controls .MS-left {
    left: -10px;
  }
}
#mixedSlider .MS-controls .MS-right {
  right: 0px;
}
@media (max-width: 767px) {
  #mixedSlider .MS-controls .MS-right {
    right: -10px;
  }
}


