
.pinWrapper {
  padding: 0;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  margin: .5em;
}

.pinWrapper p {
  font-size: .8rem;
}

#pinTerest {
  max-width: calc(5 * 16rem);
  min-width: 25em;
  margin: 0 auto;
}

.pin {
  padding: .8rem;
}

.CreditTitle {
  border-top: 1px solid #e0e0e0;
}

.pinImage img {
  width: 100%;
}


/* FLEXBOX */

#pinTerest {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.pinWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 calc(50% - 1em);
}

@media screen and ( min-width:30em) {
  .pinWrapper {
    flex: 0 1 calc(33% - 1em);
  }
}

@media screen and ( min-width:48em) {
  .pinWrapper {
    flex: 0 1 calc(25% - 1em);
  }
}

@media screen and ( min-width:62em) {
  .pinWrapper {
    flex: 0 1 calc(20% - 1em);
  }
  h1 {
    font-size: 2em;
  }
}